@charset "UTF-8";
		
	#bookletContainer {
		width: 100%;
		margin-top: 10px;	
		display: none;
		/*border: 1px solid pink;*/
	}
	
	#bookletContainerInner {
		overflow: hidden;	/* adjust with of booklet here */
		margin: 0 auto;
		width: 780px;
		/*border: 2px solid #0083bf;*/
		margin-bottom: 20px;
	}
	
	#bookletContent { 
	   	width: 780px;  		/* adjust with of booklet here */
	   	margin: 0 auto;
	   	margin-top: 15px;
    		/*border: 1px solid yellowgreen;*/
	}

	#booklet {
	    /*border: 1px solid red;*/
	    margin-top: 3px;
	}

	#bookletTitle {
		text-align: center;
		margin: 0 auto;
		width: 100%;
	}

	#bookletCenter {
		width: 100%;
		margin: 0 auto;
		/*border: 1px solid red;*/
	}

	#BookNav {
		position: absolute;
	    width: 100%;
	    margin-top: 25%; 
	}

	#BookWrapper {
	 	margin: 0 auto;
	 	position: relative;
	}
	
 	#BookletThumbNav {
 		width: 100%;
 	}

	.BookLeftNav
	{
	 	float: left;
    	padding-top: 4px;
    	padding-bottom: 4px;
    	padding-right: 4px;
    	border-radius: 10%;
    	/*margin-left:  90px;*/
    	/*background-color: black;*/
	}

	.BookRightNav
	{
		float: right;
    	padding-top: 4px;
    	padding-bottom: 4px;
    	padding-left: 4px;
    	border-radius: 10%;
    	/*margin-right: 90px;*/
		/*background-color: black;*/
	}

	.BookPrint
	{
		/*position: relative;*/
		display: none;
		top: 20px;
		left: 10px;
		width: 74px;
		z-index: 10;
		border:1px solid #B0B0B0;
		background-color: #000000;
		border-radius: 10%;
	}

	#BookZoomNav {
		display: none;
		height: 100px; float: right; width: 50px; margin-top: 10px;
	}

	.BookZoomTitle
	{
		width: 100%;
    	text-align: center;
	}

	.BookZoomButtons
	{
    	margin: 0 auto;
    	width: 40px;
	}

	.BookZoomUp
	{
		margin-left:auto;
		margin-right:auto;
		z-index: 10;
		border:1px solid #B0B0B0;
		background-color: #000000;
		border-radius: 10%;
		float: left;
	}

	.BookZoomDown
	{
		margin-left:auto;
		margin-right:auto;
		z-index: 10;
		border:1px solid #B0B0B0;
		background-color: #000000;
		border-radius: 10%;
		float: left;
	}

	.BookPdfDown
	{
		position:absolute;
		top: 119px;
		right: 43px;
		margin-left:auto;
		margin-right:auto;
		z-index: 10;
		border:1px solid #B0B0B0;
		background-color: #000000;
	}

	 #bookletMobile {
  	 	display: none;
  	 }

	#bookletBrowserMsg {
		display: none;
		min-height: 800px;
		margin: 50px auto auto auto;
		text-align: center;

		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		font-style: normal;
		font-variant: normal;
		font-size: 20px;
	}
	
	#choicesThumb {
		display: inline-block; 
		padding-left: 10px; 
		padding-right: 10px;
		vertical-align: top;
	}
	
	#choicesThumbTitle {
	 	padding-bottom: 5px;
	} 
	
	#choicesThumbImg img {
		width: 50px; 
	}
	
	.dots {
		margin-top: 5px;
	}
	
	/***************************************************/
	/* Responsive Structure */
	/***************************************************/
	@media only screen and (max-width: 1280px) {
		#mosBooklet {
		height: auto;
    		margin: 0 auto;		
    		/*width: 300px;					/* Adjust for based on center width for centering */
		}
		
		#bookletContainerInner {			/* Adjust for book size */
			height: 390px; 					/* Used with choices nav */
		    margin: 0 auto;
		}
		
		#bookletContent {
		    transform: scale(.50);		  	/* change this after setting #mosBooklet width*/
		    -webkit-transform: scale(.50);	
		    -moz-transform: scale(.50);
		    -o-transform: scale(.50);
		    /*margin-left: -250px;			/* change this after setting #mosBooklet width*/
    		margin-top: -170px;				/* change this after setting #mosBooklet width*/
		}

		.ThumbNavNums {
		    font-size: 30px;
		}
	}

	@media only screen and (max-width: 1112px) {	/* Ron's ipad */
	/*@media only screen and (max-width: 1024px) {*/
		#bookletContainerInner {			/* Adjust for book size */
			width: 752px;					/* Adjust for based on center width for centering */
			height: auto; 					/* Used with choices nav */
		    margin: 0 auto;
		}
		
		#bookletContent {
		    transform: scale(.90);		  	/* change this after setting #mosBooklet width*/
		    -webkit-transform: scale(.90);	
		    -moz-transform: scale(.90);
		    -o-transform: scale(.90);
		    margin-left: -15px;				/* change this after setting #bookletContainerInner width*/
    		margin-top: -25px;				/* change this after setting #bookletContainerInner width*/
		}

		.ThumbNavNums {
		    font-size: 20px;
		}	
	}

	@media only screen and (max-width: 800px) {

		#bookletContainerInner {			/* Adjust for book size */
    		width: 605px;					/* Adjust for based on center width for centering */
			height: 470px; 					/* Used with choices nav */
		    margin: 0 auto;
		}
		
		#bookletContent {
		    transform: scale(.79);		  	/* change this after setting #mosBooklet width*/
		    -webkit-transform: scale(.79);	
		    -moz-transform: scale(.79);
		    -o-transform: scale(.79);
		    margin-left: -88px;				/* change this after setting #mosBooklet width*/
    		margin-top: -80px;				/* change this after setting #mosBooklet width*/
		}

		.ThumbNavNums {
		    font-size: 20px;
		}
	}
	
	@media only screen and (max-width: 640px) {
		#bookletContainerInner {			/* Adjust for book size */
    		width: 505px;					/* Adjust for based on center width for centering */
			height: 465px; 					/* Used with choices nav */
		    margin: 0 auto;
		}
		
		#bookletContent {
		    transform: scale(.62);		  	/* change this after setting #mosBooklet width*/
		    -webkit-transform: scale(.62);	
		    -moz-transform: scale(.62);
		    -o-transform: scale(.62);
		    margin-left: -138px;			/* change this after setting #mosBooklet width*/
    		margin-top: -115px;				/* change this after setting #mosBooklet width*/
		}

		.ThumbNavNums {
		    font-size: 20px;
		}
	}
		
	@media only screen and (max-width: 480px) {

		#bookletContainerInner {			/* Adjust for book size */
    		width: 350px;					/* Adjust for based on center width for centering */
			height: 300px; 					/* Used with choices nav */
		    margin: 0 auto;
		}
		
		#bookletContent {
		    transform: scale(.43);		  	/* change this after setting #mosBooklet width*/
		    -webkit-transform: scale(.43);	
		    -moz-transform: scale(.43);
		    -o-transform: scale(.43);
		    margin-left: -217px;			/* change this after setting #mosBooklet width*/
    		margin-top: -165px;				/* change this after setting #mosBooklet width*/
		}

		.ThumbNavNums {
		    font-size: 30px;
		}

	}

	@media only screen and (max-width: 414px) {
		
		#bookletContainerInner {			/* Adjust for book size */
    		width: 100%;					/* Adjust for based on center width for centering */
			height: 315px; 					/* Used with choices nav */
		    margin: 0 auto;
		}
		
		#bookletContent {
		    transform: scale(.50);		  	/* change this after setting #mosBooklet width*/
		    -webkit-transform: scale(.50);	
		    -moz-transform: scale(.50);
		    -o-transform: scale(.50);
		    margin-left: -180px;			/* change this after setting #mosBooklet width*/
    		margin-top: -160px;				/* change this after setting #mosBooklet width*/
		}

		.ThumbNavNums {
		    font-size: 30px;
		}
		
		.ThumbAnchor {
		    font-size: 32px;
		}
		
		#choicesThumbTitle {
		    font-size: 11px;
		}
	}
	
	@media only screen and (max-width: 375px) {
		
		#bookletContainerInner {			/* Adjust for book size */
    		width: 100%;					/* Adjust for based on center width for centering */
			height: 285px; 					/* Used with choices nav */
		    margin: 0 auto;
		}
		
		#bookletContent {
		    transform: scale(.45);		  	/* change this after setting #mosBooklet width*/
		    -webkit-transform: scale(.45);	
		    -moz-transform: scale(.45);
		    -o-transform: scale(.45);
		    margin-left: -200px;			/* change this after setting #mosBooklet width*/
    		margin-top: -175px;				/* change this after setting #mosBooklet width*/    		
		}

		.ThumbNavNums {
		    font-size: 30px;
		}
		
		.ThumbAnchor {
		    font-size: 32px;
		}
		
		#choicesThumbTitle {
		    font-size: 11px;
		}
		
	}


	@media only screen and (max-width: 360px) {
		
		#bookletContainerInner {			/* Adjust for book size */
    		width: 100%;					/* Adjust for based on center width for centering */
			height: 280px; 					/* Used with choices nav */
		    margin: 0 auto;
		}
		
		#bookletContent {
		    transform: scale(.45);		  	/* change this after setting #bookletContainerInner width*/
		    -webkit-transform: scale(.45);	
		    -moz-transform: scale(.45);
		    -o-transform: scale(.45);
		    margin-left: -200px;			/* change this after setting #bookletContainerInner width*/
    		margin-top: -177px;				/* change this after setting #bookletContainerInner width*/
		}
		
		.ThumbNavNums {
		    font-size: 30px;
		}

	}


	@media only screen and (max-width: 320px) {
		
		#bookletContainerInner {			/* Adjust for book size */
			width: 100% ;					/* Adjust for based on center width for centering */
			height: 250px;
		    margin: 0 auto;			
		}
		
		#bookletContent {					/* Adjust for book size */
		    transform: scale(.40);			/* change this after setting #mosBooklet width*/
		    -webkit-transform: scale(.40);	 
		    -moz-transform: scale(.40);
		    -o-transform: scale(.40);
		    margin-left: -220px;			/* change this after setting #bookletContainerInner width*/
    		margin-top: -190px;				/* change this after setting #bookletContainerInner width*/
		}
		
		.ThumbNavNums {
		    font-size: 30px;
		}
		
		.ThumbAnchor {
		    font-size: 32px;
		}
		
		#choicesThumbTitle {
		    font-size: 11px;
		}

	}
	
	@media only screen and (max-width: 280px) {
		
		#bookletContainerInner {			/* Adjust for book size */
			width: 280px ;					/* Adjust for based on center width for centering */
			height: 250px;
		    margin: 0 auto;			
		}
		
		#bookletContent {					/* Adjust for book size */
		    transform: scale(.35);			/* change this after setting #mosBooklet width*/
		    -webkit-transform: scale(.35);	 
		    -moz-transform: scale(.35);
		    -o-transform: scale(.35);
		    margin-left: -250px;			/* change this after setting #bookletContainerInner width*/
    		margin-top: -190px;				/* change this after setting #bookletContainerInner width*/
		} 
		
		.ThumbNavNums {
		    font-size: 30px;
		}
		
		.ThumbAnchor {
		    font-size: 32px;
		}
		
		#choicesThumbTitle {
		    font-size: 11px;
		}

	}
