/* Buttons */
.btn_w184 {
    width: 245px !important;
    margin: 40px 0 !important;
}

.btn_245 {
    width: 245px !important;
}

/* SP-3734: Alerts */
.banners .items .item .item-content {
    font-size: 14px;
!important;
}

/* SP-3738: Locator */
.image.main-header-logo--sticky .main-header-logo__link .image-caption {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px !important;
    font-size: 0.813rem !important;
    min-width: 130px;
    text-align: left !important;
}

/* SP-3739: Hamburger Menu Links */
@media screen and (max-width: 768px) {
    .main-navigation li a, .main-navigation__item a {
        text-transform: uppercase !important;
    }

    .main-header button.main-header-top__link-mobile {
        text-transform: uppercase !important;
    }
}

@media screen and (min-width: 769px) {
    div[data-uniqueid="smart_link_list-9ea1ffa108c946d7b325558773922f2e"] {
        display: none !important;
    }

    div[data-uniqueid="smart_link_list-d4268b9dfa2340a6b6f3afeccee87724"] {
        display: none !important;
    }

    div[data-uniqueid="smart_link_list-c29cdbf0727f4b1fb5e9b73888ef2927"] {
        display: none !important;
    }

    div[data-uniqueid="smart_link_list-edbb9328b39749acb9fe9326a0f53ccf"] {
        display: none !important;
    }

    div[data-uniqueid="smart_link_list-fa7ad8bae9734895a3d8577e38dec4b4"] {
        display: none !important;
    }

    div[data-uniqueid="smart_link_list-a6f4df9fdb244b829df8fe89b1bfa7d7"] {
        display: none !important;
    }
}

/* Loyalty */
.main-header-dashboard__account__name {
    color: #fff !important;
}

.main-header-dashboard__summary__heading {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 24px;
}

@media screen and (min-width: 992px) {
    .main-header-dashboard__col--status .dial-personalized {
        padding-left: 10px !important;
    }

    .main-header-dashboard__col--status .dial-personalized:before {
        left: 0 !important;
    }
}

/* Rows */
.row-splitter .module--full-width, .row-splitter .module--gray, .row-splitter .module--white {
    padding-bottom: 80px;
}

/* Shadow */
* {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}

.is-hardrock-tampa-hollywood .search-results-carousel.contentgrid__wrapper.horizontal .ccard__event, .is-hardrock-tampa-hollywood .search-results.contentgrid__wrapper.horizontal .ccard__event, .listCCard, .is-hardrock-tampa-hollywood .fcard--wrapper .component-multi-feature .component-multi-feature--wrapper, .ccard__event, .dcard, .gcard__wrapper {
    box-shadow: none !important;
    border: 1px solid #ccc !important;
}

/* SP-2824: On-Page Search */
.search-box.horizontal {
    padding: 65px 15px 65px 15px;
}

/* Generic Card */
.is-hardrock-tampa-hollywood .search-results-carousel.contentgrid__wrapper.horizontal .ccard--event__content, .is-hardrock-tampa-hollywood .search-results.contentgrid__wrapper.horizontal .ccard--event__content {
    padding-bottom: 0 !important;
}

@media screen and (min-width: 768px) {
    event__content__inner, .ccard--event__content__inner {
        padding-bottom: 0px;
    }
}

/* Grids */
.component-showmorelink.link a, .contentgrid__load-more.load-more input[type=button] {
    font-style: normal !important;
    font-size: 15px;
    font-size: .9375rem;
}

/* Booking Widget */
.tabs-container {
    min-height: 331px !important;
}

.booking-widget-search__wrapper.container .booking-widget-search-button a {
    font-style: none !important;
}

.tabs-heading li > div {
    padding: 4px 4px !important;
}

.tabs-heading li > div .field-heading {
    font-size: 14px !important;
}

.drawer-tabs .tabs-heading li {
    margin: 8px 4px 0 0 !important;
}

@media screen and (min-width: 768px) {
    .booking__inner .booking-hotel__special-rates {
        min-height: 350px !important;
    }
}

@media screen and (max-width: 767px) {
    .drawer-tabs .tabs-inner {
        padding: 20px 8px !important;
    }
}

/* SP-2716: Booking Widget - Tickets */
.booking-widget-search__wrapper .row-splitter .container-fluid:nth-child(even) {
    display: none !important;
}

/* Forms */
.row-splitter .sitecore-form .component-content > :last-child {
    padding: 60px 30px !important;
}

form h2 {
    padding-bottom: 32px !important;
    padding-top: 0 !important;
    font-weight: bold;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

/* SP-3735: Accordion */
.component-accordion, .component-accordion--wrapper {
    padding: 0 !important;
}

.component-accordion .component-content {
    max-width: 1140px !important;
    padding: 0 !important;
}

.row-splitter .container-fluid:nth-child(even) .component-accordion__content {
    background-color: #f9f9f9;
}

.row-splitter .container-fluid:nth-child(even) .component-accordion__title {
    background-color: #fff;
}

.row-splitter .container-fluid:nth-child(even) .component-accordion__title:hover {
    background-color: #fcfcfc;
}

.component-accordion__title:before {
    font-size: 1.25rem;
    padding-right: 20px;
    top: 15px;
}

.component-accordion__title {
    padding: 15px 20px;
    text-transform: none;
    background-color: #FCFCFC;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.component-accordion__list {
    border-bottom: 1px solid #ddd;
}

.row-splitter .component-content > :last-child.component-accordion__title {
    padding-bottom: 15px;
}

.component-accordion__item__wrap {
    border-bottom: none;
}

.component-accordion__content {
    padding: 20px 20px 30px 20px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd
}

.component-accordion__title:hover {
    background: #f0f0f0;
}

.component-accordion__item p {
    padding-bottom: 8px;
}

.component-accordion h3:first-child, .component-accordion .h3:first-child {
    padding-top: 8px !important;
}

.component-accordion h3, .component-accordion .h3 {
    padding-top: 32px !important;
    padding-bottom: 8px !important;
    font-weight: bold;
}

.component-accordion h4, .component-accordion .h4 {
    padding-top: 24px !important;
    padding-bottom: 8px !important;
    font-weight: bold;
}

.component-accordion__content ul li {
    line-height: 1.5;
    padding-bottom: 8px;
}

/* Multi Column */
.component-multi-feature--column h3, .component-multi-feature--column .h3 {
    padding-bottom: 8px !important;
    padding-top: 16px !important;
}

.component-multi-feature--column h2, .component-multi-feature--column .h2 {
    padding-bottom: 16px !important;
    padding-top: 0 !important;
}

/* Headings */
.heading, .heading [class^=col] {
    padding-left: 0 !important;
    padding-right: 0 !important
}

/* Page Headings */
.heading__title, h1, .h1, .sectionheading__title {
    font-size: 42px !important;
    front-size: 2.625rem !important;
    line-height: 50px !important;
    text-align: left !important;
    font-weight: normal !important;
    margin-bottom: 30px !important;
}

h2, .h2 {
    font-size: 24px !important;
    front-size: 1.500rem !important;
    line-height: 26px !important;
    padding-bottom: 16px;
    padding-top: 32px;
}

h3, .h3 {
    font-size: 18px !important;
    front-size: 1.125rem !important;
    line-height: 22px !important;
    padding-bottom: 16px;
}

/* Grid Heading */
.contentgrid__title .heading__title {
    text-align: center !important;
    margin-bottom: 30px !important;
    font-weight: 500 !important;
}

/* Card Heading */
.ccard--event__content {
    padding-top: 15px !important;
    padding-bottom: 0 !important;
}

.event-detail--title {
    text-align: left !important;
    margin-bottom: 30px !important;
}

.ccard--event__title {
    font-size: 22px !important;
    front-size: 1.375rem !important;
    line-height: 28px !important;
    padding-bottom: 0 !important;
    padding-top: 8px !important;
}

.dcard__content--inner .dcard__title, .dcard__content--inner h2, .dcard__content--inner .h2 {
    font-size: 20px !important;
    front-size: 1.25rem !important;
    line-height: 26px !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    color: #000 !important;
    font-weight: bold !important;
}

.listCCard__title {
    font-size: 24px !important;
    front-size: 1.500rem !important;
    line-height: 30px !important;
    padding-bottom: 0 !important;
    padding-top: 4px !important;
}

.gcard__title {
    font-size: 22px !important;
    front-size: 1.375rem !important;
    line-height: 28px !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    color: #000 !important;
}

.gcard__subtitle {
    font-size: 16px !important;
    front-size: 1.000rem !important;
    line-height: 22px !important;
    padding-bottom: 16px;
    color: #000;
}

.fcard__title {
    padding-bottom: 0 !important;
}

/* Section Heading */
.sectionheading__title {
    font-size: 42px !important;
    front-size: 2.625rem !important;
    line-height: 50px !important;
    text-align: center !important;
    font-weight: normal !important;
    text-transform: none !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.sectionheading h3, .sectionheading h4 {
    padding-top: 32px !important;
    padding-bottom: 8px !important;
}

.sectionheading h3:first-child, .sectionheading h4:first-child {
    padding-top: 0px !important;
}

/* Featured Cards */
@media screen and (max-width: 767px) {
    .fcard__content h2 {
        font-size: 38px !important;
        front-size: 1.500rem !important;
        line-height: 42px !important;
        padding-bottom: 0;
        padding-top: 0;
    }
}

/* Text */
.heading p {
    text-align: left !important;
}

.font-small {
    font-size: 12px;
    font-size: 0.750rem;
    line-height: 20px;
}

/* SP-3737: HR */
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* SP-3736: Footer */
.main-footer .main-footer__inner {
    padding-top: 40px !important
}

.main-footer h5 {
    margin-bottom: 24px !important;
}

.main-footer-info {
    margin-bottom: 0px !important;
}

@media screen and (max-width: 992px) {
    .main-footer .main-footer__inner {
        padding-top: 20px !important;
    }

    .main-footer-logo__wrap {
        padding-top: 30px !important;
        padding-bottom: 0px !important;
    }
}

/* Lists */
main .component.content ul, ul, main .component.content ol, ol {
    list-style-position: inside !important;
}

.heading ul {
    padding: 24px 0 32px 0;
    line-height: 1.75;
}

/* List Cards */
@media screen and (min-width: 769px) {
    .listCCard__image {
        flex: 0 0 30% !important;
    }
}


/* Events */
.card__announcement, .listCCard__StatusLabel {
    font-size: 14px !important;
    font-size: 0.875rem !important;
    font-weight: bold;
}

/* Video */
.video-responsive {
    overflow: hidden;
    position: relative;
    height: 0;
    padding-bottom: 56.25% !important;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* Events & Promos */
ul.search-result-list li .ccard.promoCard .ccard__image {
    height: 200px !important
}

@media screen and (max-width: 991px) {
    ul.search-result-list li .ccard.promoCard .ccard__image {
        height: 126px !important
    }
}

@media screen and (max-width: 767px) {
    ul.search-result-list li .ccard.promoCard .ccard__image {
        height: 287px !important
    }
}

@media screen and (max-width: 449px) {
    ul.search-result-list li .ccard.promoCard .ccard__image {
        height: 213px !important
    }
}

/* SP-195: Hero */
@media screen and (min-width: 1440px) {
    .caption {
        padding-right: 0 !important;
    }
}

.main-slider .caption h2 {
    font-size: 52px !important;
    font-size: 3.25rem !important;
    padding-top: 0 !important;
    line-height: 1.25 !important;
}

@media screen and (max-width: 768px) {
    .main-slider .caption h2 {
        font-size: 40px !important;
        font-size: 2.5rem !important;
        padding-top: 0 !important;
        line-height: 1 !important;
        margin-bottom: 0 !important;
        padding-bottom: 8px !important;
    }
}

.custom-terms {
    font-size: .76666666667rem !important;
    line-height: 1.5 !important;
}

.custom-center {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.custom-red {
    color: red !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-bold {
    font-weight: bold !important;
}

.text-italics {
    font-style: italic !important;
}

.custom-cols-2 {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

.custom-cols-3 {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

.custom-cols-4 {
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
}

.custom-cols-2 li, .custom-cols-3 li, .custom-cols-4 li {
    list-style-type: disc;
}

.no-transform {
    text-transform: none !important;
}

/* Hide & Show */
@media screen and (min-width: 768px) {
    .hide-desktop {
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    .hide-mobile {
        display: none !important;
    }
}

@media screen and (max-width: 992px) {
    .hide-tablet {
        display: none !important;
    }
}

.hide-all {
    display: none !important
}

/* SP-3629: reCAPTCHA index*/
.grecaptcha-badge {
    z-index: 1
}

/* SP-3563: FILTER DATE RANGE */
.facet-eventdaterange .facetContainer LI:first-child {
    display: none !important;
}

.facet-search-filter .selectall {
    display: none !important;
}

/* SP-3565: HIDE DATE RANGE*/
.filter-buttons .accordion .items .item:last-child {
    display: none !important;
}

/* SP-3732: BOOKING WIDGET BUTTONS */
#bkg_buttons .btn {
    max-width: 215px;
    display: inline-block;
    min-width: 215px;
    line-height: 22px;
    height: 45px;
}

#bkg_buttons .btn-primary {
    margin-top: 0 !important
}

#bkg_buttons .btn-secondary {
    margin-left: 10px !important;
    color: #ffffff !important;
    border-color: #ffffff !important;
}

@media screen and (max-width: 768px) {
    #bkg_buttons .btn-primary {
        margin: 12px 16px 12px 0 !important;
    }

    #bkg_buttons .btn-secondary {
        margin: 12px 0 12px 0 !important;
    }
}

/*  SP-3733: BOOKING WIDGET TABS */
@media screen and (max-width: 767px) {
    .drawer-tabs .tabs-heading li {
        flex-basis: calc(50% - 8px) !important;
    }
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    background: url('/loading.gif') 50% 50% no-repeat rgb(255, 255, 255);
}

@media only screen and (max-width: 768px) {
   #content{
       padding-top: 130px;
   }
}
