/* Preload images */
/* fix centering popup images issue */
#lightboxOverlay { position: fixed !important; top: 0; left: 0; height: 100% !important; width: 100% !important; }
#lightbox { position: fixed !important; top: 50% !important; transform: translateY(-50%); }
/* fix centering popup images issue - end */

.lightboxOverlay {
  /*z-index: 9999;*/
  z-index: 10000;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

  /* IE 5-7 */
  filter: alpha(opacity=80);

  /* Netscape */
  -moz-opacity: 0.8;

  /* Safari 1.x */
  -khtml-opacity: 0.8;

  /* Good browsers */
}

.lb-outerContainer {
  background-color: unset;
}

.lb-cancel {
  background: url(../images/loading2.gif) no-repeat;
}

.lb-nav a.lb-prev {
  left: -42px;;
  
  opacity: 0.7;
  
  position: relative;
}

.lb-nav a.lb-next {
  right: -42px;;
  opacity: 0.7;
  
  position: relative;
}

.lb-data .lb-caption {
  font-family: arial;
  /*line-height: 1em;*/
}

.lb-data .lb-number {
  font-size: 14px;
  font-family: arial;
}

.lb-data .lb-close {
  /*background: url(../images/close.png) top right no-repeat;*/
  background: url(../images/close-20.png) top right no-repeat;
}
