
	html,
	body {
	   margin:0;
	   padding:0;
	   height:100%;
	}

	.mosTemplateHR-top {
		display: none;
	}

	.mosTemplateHR-bottom {
		display: none;
	}

	#mosContainer {
		min-height:100%;
	   	position:relative;
	   	/*background-color: rgb(247, 240, 241);*/
		/*border: 1px solid green;*/
	}

	#mosContentBox {
		margin: 0 auto;
		padding: 0px;
		width: 80%;
	}

	#mosHeader {

	}

	#mosBody {
	   padding:10px;
	}

	#mosFooter {
		position:absolute;
   		bottom:0;
   		width:100%;
   		height:60px;   /* Height of the footer */
   		/*background:#6cf;*/
	}

	/* End of Main Body Stuff */

	#mosCenter {
		margin: 0 auto;
		/*width: 600px;*/
		/*width: 835px;*/
		width: 100%;	/* HR Cinn */
		min-height: 100%;
		/*border: 1px solid green;*/
	}

	#mosCenterleft {
		/*width: 44%;*/
		width: 65%;
		float: left;
		/*border: 1px solid black;*/
		/*padding-right: 60px;*/
	}

	#mosCenterRight {
		/*width: 56%;*/
		width: 100%;
		float: left;
		/*border: 1px solid black;*/
	}

	#mosPopupCenter {
		 width: 900px;
		 margin: 0 auto;
	}

	#mosContentWrapper {
	    width: 55%;
	    margin: 0 auto;
	    padding-right: 20px;
	    padding-left: 20px;
	}

	#mosBooklet {
		margin-bottom: 40px;
	}

	#mosContentChoices {
	    /*margin-bottom: 25px;*/
	}

	#mosContentTitle {
	    font-size: 22px;
	}

	#mosContentLogin {
		margin: 0 auto; margin-top: 25px; /*margin-bottom: 50px;*/ width: 650px; /*font-size: 24px;*/
	}

	#mosContentLogin p {
		font-size: 20px; font-weight: normal; line-height: 24px;
	}

	.mosContentLoginTitle {
		margin: 0 auto; font-size: 24px; font-weight: bold;
	}

	#mosContentLoginMsg {
		margin-left: 0px;  margin-bottom: 5px; color: red; text-align: center;
	}

	#mosContentSignup {
		margin: 0 auto; width: 600px; background-color: white; padding: 0px; text-align: left;
	}

	#mosContentMsg {
		color: red;
	}

	#mosContentSplashImg {
		top: 65px; color: black; width: 100%;
	}

	#mosContentSplashImg img{
		width: 95%;
		overflow: hidden;
	}

	.mosSignup {
		float: left; width: 100%; padding-bottom: 7px;
	}

	.mosSignup label {
		width: 165px;
		float: left;
	}

	.mosSignup input, select {
		max-width: 260px;
		padding-left: 5px;
    	padding-right: 5px;
	}

	#mosResetForm {
   		margin-top: 0px;
   }

	#mosResetForm form {
	    width: 600px;
   		margin: 0 auto;
   		padding: 30px 10px 10px 10px;
	}

	#mosResetForm label {
		width: 270px;
    	padding-bottom: 7px;
	}

	#mosResetButton {
		float: none; padding: 15px; text-align: center; width: 190px !important; display: inline-block;
	}

	#mosResetButton input {
		cursor: pointer; font-size: 14pt; color: white;
	}

	#MOS {
		float: right;
		font-weight: bold;
		font-size: 25px;
    		color: #221D1E;
		font: 14px "gotham_book", "Arial", "Helvetica", sans-serif;
	}

	#MOS-Offers {
		float: right;
		font-weight: bold;
		font-size: 25px;
    	color: #221D1E;
		font: 14px "gotham_book", "Arial", "Helvetica", sans-serif;
		padding-right: 25px;
    	padding-left: 25px;
	}

	#MOS-footer {
		display: none;
		font-weight: bold;
		font-size: 25px;
    		color: #221D1E;
		font: 14px "gotham_book", "Arial", "Helvetica", sans-serif;
		margin-top: -20px;
		text-align: center;
	}

	.mosCenterText {
		text-align: center;
	}

	/*
	***************************************************
	  CSS For Login pages
	***************************************************
	*/
	#mosLoginForm {
		padding-top: 5px;
    	background-color: white;
    	width: 100%;
    	margin: 0 auto;
	}

	#mosLoginForm form {
	    /*width: 400px;*/
    	margin: 0 auto;
   }

	#mosLoginFormLine {
		/*width: 100%;*/
		text-align: center;
		/*float: left;*/
		padding: 3px;
	}

	#mosLoginFormLine label {
		display: inline-block; vertical-align: middle; width: 110px;
	}

	#mosLoginFormLine input {
		display: inline-block; vertical-align: middle; width: 150px; padding-left: 5px; padding-right: 5px;
	}

	#mosLoginButton {
		float: none; padding-top: 15px; text-align: center; width: 100%; display: inline-block;
	}

	#mosLoginButton input {
		cursor: pointer; font-size: 14pt; /*color: white*/;
	}

	.mosLoginErrorMsg {
		font-size: 18px; font-weight: bold; color: red; text-align: center;
	}

	.mosLoginTitle {
		text-align: center; margin: 0 auto; margin-top: 60px; width: 600px; font-size: 24px; font-weight: bold; padding: 15px; /*height: 330px*/;
	}

	.mosLoginInfo {
		margin: 0 auto; width: 100%; font-size: 18px; line-height: 25px; padding-top: 10px; padding-bottom: 10px;
	}

	.mosLoginErrorMsg {
		font-size: 18px; font-weight: bold; color: red; text-align: center;
	}

	.mosLogin {
		float: left; width: 100%;
	}

	.mosLogin label {
		display: inline-block; vertical-align: middle; font-size: 18px; width: 110px;
	}

	.mosLogin input {
		display: inline-block; vertical-align: middle; font-size: 18px; width: 150px; padding-left: 10px;
	}

	.mosLoginSubmit input {
		cursor: pointer; height: 35px; width: 100px; font-size: 12pt;
	}

	.mosTemplateHR-top {
		display: none;
	}

	.mosTemplateHR-bottom {
		display: none;
	}

	#firstTimeUser {
		float: left;
	    /*padding-left: 30px;*/
	}

	#firstTimeUser input {
	    height: 35px;
	    width: 120px;
	    text-align: center;
	    vertical-align: middle;
	    font-size: 13px !important;
	}

	#mosContactUpdateContainer {
		border: 1px solid black;
	}

	#mosContactUpdateWrapper {
	    width: 100%;
	    margin: 0 auto;
	    padding-right: 20px;
	    padding-left: 20px;
		/*border: 1px solid black;*/
	}

	#mosContactUpdateInfo {
		margin: 0 auto; width: 240px; background-color: white; padding: 0px; text-align: left;
	}

	#mosContactUpdate {
		display: none;
	}

	.mosContactUpdateField {
		float: left; width: 100%; padding-bottom: 7px;
	}

	/***************************************************/
	/* Modial Popup Stuff */
	/***************************************************/

	.w3-modal {
	    z-index: 3;
	    display: none;
	    padding-top: 25px;
	    position: fixed;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    overflow: auto;
	    background-color: rgba(0, 0, 0, 0.85);
	 }

	 .w3-closebtn {
 	    text-decoration: none;
	    float: right;
	    font-size: 24px;
	    font-weight: bold;
	    color: black;
	 	font-family: 'ProximaNova-Medium';
	}

	 .w3-red, .w3-hover-red:hover {
	    color: #fff!important;
	    background-color: #f44336!important;
	}


	.w3-container {
	    /*padding: 0.01em 16px;*/
	    padding-left: 10px;
		padding-right: 10px;
		height: 35px;
	}

	.w3-white, .w3-hover-white:hover {
	    color: #000!important;
	    background-color: #fff!important;
	}

	.w3-animate-top {
	    position: relative;
	    -webkit-animation: animatetop 0.4s;
	    /* animation: animatetop 0.4s; */
	}

	.w3-card-8 {
	    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
	}

	.w3-btn, .w3-btn-floating, .w3-dropnav a, .w3-btn-floating-large, .w3-btn-block, .w3-navbar a, .w3-navblock a, .w3-sidenav a, .w3-pagination li a, .w3-hoverable tbody tr, .w3-hoverable li, .w3-accordion-content a, .w3-dropdown-content a, .w3-dropdown-click:hover, .w3-dropdown-hover:hover, .w3-opennav, .w3-closenav, .w3-closebtn, *[class*="w3-hover-"]
	{
    	-webkit-transition: background-color .25s,color .15s,box-shadow .25s,opacity 0.25s,filter 0.25s,border 0.15s;
    	transition: background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s;
	}

	/***************************************************/
	/* Responsive Structure */
	/***************************************************/

	@media only screen and (max-width: 1112px) {
	/*@media only screen and (max-width: 1024px) {*/

		#mosCenter {
		    width: 100%;
		}

		#mosCenterleft {
			width: 100%;
			padding: 0px;
		}

		#mosCenterRight {
			width: 100%;
		}

		#mosContentLogin {
			width: 100%;
		}

		#mosContentWrapper {
			width: 60%;
		}

		#mosPopupCenter {
		    transform: scale(1.1);
		    /*margin-left: 60px;*/
		    margin-top: 56px;
		}

		#MOS {
			display: block;
			float: none;
			margin-right: 0px;
		    text-align: center;
		}

		.lb-nav {
			display: none !important;
		}

		/*
		#eStatementContainer {
    		width: 45%;
    		float: left;
		}

		#hostContainer {
		    width: 50%;
    		float: left;
		}

		#questionsContainer {
			float: left;
		}

		#questions {
	    	width: 50%;
	    	margin: 0 auto;
    	}
		*/
	}

	@media only screen and (max-width: 1024px) {

		#mosPopupContainer {
			width: 775px;
		    margin: 0 auto;
		    /*border: 1px solid red;*/
		}

		#mosPopupCenter {
			transform: scale(.86);
		    margin-left: -63px;
		    margin-top: -48px;
		}

	}

	@media only screen and (max-width: 800px) {

		#mosCenter {
		    width: 100%;
		}

		#mosCenterleft {
			width: 100%;
			padding: 0px;
		}

		#mosCenterRight {
			width: 100%;
		}

		#mosContentLogin {
			width: 100%;
		}

		#mosContentWrapper {
			width: 90%;
		}

		#mosPopupContainer {
			width: 650px;
		    margin: 0 auto;
		    /*border: 1px solid red;*/
		}

		#mosPopupCenter {
		    transform: scale(.72);
		    margin-left: -125px;
		    margin-top: -98px;
		}

		#MOS {
			display: block;
			float: none;
			margin-right: 0px;
		    text-align: center;
		}

		.lb-nav {
			display: none !important;
		}
	}

	@media only screen and (max-width: 640px) {

		#mosCenter {
		    width: 100%;
		}

		#mosCenterleft {
			width: 100%;
			margin-top: -10px;
			padding: 0px;
		}

		#mosCenterRight {
			width: 100%;
		}

		#mosContentLogin {
			width: 100%;
			/*padding: 15px;*/
		}

		#mosContentWrapper {
			width: 95%;
			padding-right: 0px;
    		padding-left: 0px;
		}

		#mosContentSignup {
			width: 300px;
		}

		/*
		#mosLoginForm, #mosResetForm form {
			width: 300px;
		}
		*/

		#mosContentBox {
    		width: 75%;
		}

		#mosContentTitle {
			font-size: 19px;
		}

		.w3-modal {
			overflow: hidden !important;
		}

		#mosPopupContainer {
			width: 405px;
		    margin: 0 auto;
		    /*border: 1px solid red;*/
		}

		#mosPopupCenter {
		    transform: scale(.45);
		    margin-left: -248px;
		    margin-top: -197px;
		}

		#MOS {
			display: block;
			float: none;
			margin-right: 0px;
		    text-align: center;
		}

		#MOS-Offers {
		    text-align: center;
		    float: none !important;
		}

		#MOS-footer {
			display: none;
		}

		#MOS-footer {
			display: none;
		}

		.mos-next-medium {
			background-image: url(../slick-1.8.0/slick/images/icon-next-20.png);
		    width:  20px !important;
		    height: 20px !important;
		}

		.mos-prev-medium {
			background-image: url(../slick-1.8.0/slick/images/icon-prev-20.png);
		    width:  20px !important;
		    height: 20px !important;
		}

		.lb-nav {
			display: none !important;
		}
	}


	@media only screen and (max-width: 414px) {

		#mosPopupCenter {
			transform: scale(.45);
		    margin-left: -248px;
		    margin-top: -150px;
		}

		#MOS-Offers {
		    text-align: center;
		    float: none !important;
		}

		#MOS-footer {
			display: none;
		}

		.mos-next-medium {
			background-image: url(../slick-1.8.0/slick/images/icon-next-20.png);
		    width:  20px !important;
		    height: 20px !important;
		}

		.mos-prev-medium {
			background-image: url(../slick-1.8.0/slick/images/icon-prev-20.png);
		    width:  20px !important;
		    height: 20px !important;
		}

		.lb-nav {
			display: none !important;
		}
	}

	@media only screen and (max-width: 375px) {

		#mosCenter {
		    width: 100%;
		}

		#mosCenterleft {
			width: 100%;
			margin-top: -10px;
			padding: 0px;
		}

		#mosCenterRight {
			width: 100%;
		}

		#mosContentLogin {
			width: 100%;
			/*padding: 15px;*/
		}

		#mosContentWrapper {
			width: 95%;
			padding-right: 0px;
    		padding-left: 0px;
		}

		#mosContentSignup {
			width: 300px;
		}

		#mosPopupCenter {
			transform: scale(.40);
    		margin-left: -262px;
    		margin-top: -150px;
		}

		/*
		#mosLoginForm, #mosResetForm form {
			width: 300px;
		}
		*/

		#mosContentBox {
		    width: 80%;
		}

		#mosContentTitle {
			font-size: 22px;
		}

		#MOS {
			display: block;
			text-align: center;
		}

		#MOS-Offers {
		    text-align: center;
		    float: none !important;
		}

		#MOS-footer {
			display: none;
		}

		.mos-next-medium {
			background-image: url(../slick-1.8.0/slick/images/icon-next-20.png);
		    width:  20px !important;
		    height: 20px !important;
		}

		.mos-prev-medium {
			background-image: url(../slick-1.8.0/slick/images/icon-prev-20.png);
		    width:  20px !important;
		    height: 20px !important;
		}

		.lb-nav {
			display: none !important;
		}
	}


	@media only screen and (max-width: 360px) {

		#mosCenter {
		    width: 100%;
		}

		#mosCenterleft {
			width: 100%;
			margin-top: -10px;
			padding: 0px;
		}

		#mosCenterRight {
			width: 100%;
		}

		#mosContentLogin {
			width: 100%;
			margin-bottom: 0px;
			/*padding: 15px;*/
		}

		#mosContentWrapper {
			width: 100%;
			padding-right: 0px;
    		padding-left: 0px;
		}

		#mosContentSignup {
			width: 300px;
		}

		#mosPopupCenter {
			transform: scale(.39);
    		margin-left: -270px;
    		margin-top: -150px;
		}

		/*
		#mosLoginForm, #mosResetForm form {
			width: 300px;
		}
		*/

		#mosContentBox {
		    width: 77%;
		}

		#MOS {
			display: block;
			float: none;
			margin-right: 0px;
		}

		#MOS-Offers {
		    text-align: center;
		    float: none !important;
		}

		#MOS-footer {
			display: none;
		}

		#MOS-footer {
			display: none;
		}

		.mos-next-medium {
			background-image: url(../slick-1.8.0/slick/images/icon-next-20.png);
		    width:  20px !important;
		    height: 20px !important;
		}

		.mos-prev-medium {
			background-image: url(../slick-1.8.0/slick/images/icon-prev-20.png);
		    width:  20px !important;
		    height: 20px !important;
		}

		.lb-nav {
			display: none !important;
		}
	}

	@media only screen and (max-width: 320px) {

		#mosCenter {
		    width: 100%;
		}

		#mosCenterleft {
			width: 100%;
			margin-top: -10px;
			padding: 0px;
		}

		#mosCenterRight {
			width: 100%;
		}

		#mosContentLogin {
			width: 100%;
			margin-bottom: 0px;
			/*padding: 15px;*/
		}

		#mosContentWrapper {
			width: 100%;
			padding-right: 0px;
    		padding-left: 0px;
		}

		#mosContentSignup {
			width: 300px;
		}

		#mosPopupCenter {
			transform: scale(.35);
		    margin-left: -290px;
    		margin-top: -150px;
		}

		/*
		#mosLoginForm, #mosResetForm form {
			width: 300px;
		}
		*/

		#mosContentBox {
    		width: 87%;
		}

		#MOS {
			display: block;
			text-align: center;
		}

		#MOS-Offers {
		    text-align: center;
		    float: none !important;
		}

		#MOS-footer {
			display: none;
		}

		.mos-next-medium {
			background-image: url(../slick-1.8.0/slick/images/icon-next-20.png);
		    width:  20px !important;
		    height: 20px !important;
		}

		.mos-prev-medium {
			background-image: url(../slick-1.8.0/slick/images/icon-prev-20.png);
		    width:  20px !important;
		    height: 20px !important;
		}

		.lb-nav {
			display: none  !important;
		}

		/* fix scroll issue on mobile phones */

		body.lb-disable-scrolling {
	    	/*transform: scale(.10);*/
	    	/*overflow: hidden;
	    	position: fixed;*/
    	}
		/*
    	.lightbox {
	    	top: 10px !important;
    	}
		*/

	}
