body { width: 1000px; } 
a[href]:after { content: '' !important; }

#logoPrint {
     text-align: center;
}

.btn, .scroll-to-top,
#mainNavigation,
header,
.image, .feature-img, .featuredMedia, .promoImage,
.vizEmbedVideo2Widget, .viz-videoWidget,
.viz-navigationWidget, .footerMobileMenu,
.viz-socialiconsadaWidget,
.viz-cookiesWidget,
footer .logo,
#mobileFooter
 { display: none !important; }