@charset "UTF-8";

	#promos {
	    margin: 0 auto;
	    width: 100%;
	    margin-bottom: 40px; 
	    display: none;
	}

	#promosTitle {
		text-align: center;
		margin: 0 auto;
		width: 210px;
	}

	#promoMsg {
	    max-width: 450px;
    	margin: 0 auto;
    	text-align: center;
   }

	/* Used for Scroll Box Layout
	----------------------------------------------- */

	#promoBoxes {
		margin: 0 auto;
		width: 94%;
		padding-left: 5px;
		padding-right: 5px;
		/*border: 2px solid red;*/
	}

	#promoNav {
		position: absolute;
		width: 100%;
		top: 40%;
		z-index: 1;
	}

	#promoNavPrev {
		float: left;
	}

	#promoNavNext {
		float: right;
	}

	/* Used for GridBox Layout
	----------------------------------------------- */
	/*
	#promoGridBoxes {
		width: 260px;
		height: 192px;
    		text-align: center;
		margin: 0 auto;
		/*border: 2px solid #0083bf*/
	}
	/*
	#promoGridBox {
		width: 230px;
    	height: 100%;
		display: inline-block;
	    margin: 2px;
		list-style: none;
		/*border: 1px solid red;
		padding: 10px;"*/
	}
	*/
	#promoGridBoxWrapper {
		padding-top: 5px;
		padding-right: 15px; 
		padding-left: 15px;
	}

	#promoGridBoxText { 
		height: 40px; 
    	vertical-align: bottom;
	 	text-align: center;
		position: relative;
	}
	
	.promoGridBoxTextDisplay {
		display: none;
		position: absolute;
    		bottom: 5px;
    		text-align: center;
    		width: 100%;
	 	/*font-weight: bold;*/ 
		font-size: 14px; 
		line-height: 15px;
	}

	#promoGridBoxImage {
		/*background-color: #f3f1f1;*/
		/*height: 150px;*/
		/*border: 1px solid black;*/
	}

	#promoGridBoxImage img {
    		overflow: hidden;
		/*height: 150px;*/
		width: auto;
		/*width: 167px;*/
		margin: 0px auto;
		display: block;
	}

	/* =Responsive Structure
	----------------------------------------------- */
	@media (max-width: 1280px) {

	 	#promoGridBoxes {
			width: 100% !important;
			height: 100% !important;
			margin: 0 auto;
		}
		
		#promoGridBoxText { 
			height: 55px; 
		}
		
		.slick-prev {
			display: none !important;
		}
		.slick-next {
			display: none !important;
		}
	}
	
	@media (max-width: 950px) {

	 	#promoGridBoxes {
			width: 100% !important;
			height: 100% !important;
			margin: 0 auto;
		}
						
		#promoGridBoxText { 
			height: 55px; 
		}
		
		.slick-prev {
			display: none !important;
		}
		.slick-next {
			display: none !important;
		}
	}

	@media (max-width: 700px) {

	 	#promoGridBoxes {
			width: 515px !important;
			height: 100% !important;
			margin: 0 auto;
		}
						
		#promoGridBoxText { 
			height: 55px; 
		}
		
		.slick-prev {
			display: none !important;
		}
		.slick-next {
			display: none !important;
		}
	}

	@media (max-width: 510px) {

		#promoGridBoxes {
			width: 300px !important;
			height: 100% !important;
			margin: 0 auto;
		}
		
		#promoGridBoxText { 
			height: 40px; 
		}
		
		.slick-prev {
			display: none !important;
		}
		.slick-next {
			display: none !important;
		}
	}