@charset "UTF-8";

	#promosBBack {
	    margin: 0 auto;
	    width: 100%;
	    margin-bottom: 15px;
	}

	#promosTitleBBack {
		text-align: center;
		margin: 0 auto;
		width: 100%;
	}

	#promoMsgBBack {
	    max-width: 450px;
    	margin: 0 auto;
    	text-align: center;
   }

	/* Used for Scroll Box Layout
	----------------------------------------------- */

	#promoBoxesBBack {
		margin: 0 auto;
		width: 94%;
		padding-left: 5px;
		padding-right: 5px;
		/*border: 2px solid red;*/
	}

	#promoNavBBack {
		position: absolute;
		width: 100%;
		top: 40%;
		z-index: 1;
	}

	#promoNavPrevBBack {
		float: left;
	}

	#promoNavNextBBack {
		float: right;
	}

	/* Used for GridBox Layout
	----------------------------------------------- */

	#promoGridBoxesBBack {
		width: 400px;
    	/*width: 100% !important;*/
    	margin: 0 auto;
	}

	#promoGridBoxBBack {
		width: 100px;
    	height: 100%;
		display: inline-block;
	    margin: 2px;
		list-style: none;
		/*border: 1px solid red;
		padding: 10px;"*/
	}

	#promoGridBoxTextBBack {
	 	line-height: 18px;
	    height: 40px;
	    vertical-align: bottom;
	    position: relative;
	    text-align: center;
	}
	
	.promoGridBoxTextDisplayBBack {
	    position: absolute;
	    bottom: 5px;
	    text-align: center;
	    width: 100%; 
	    font-size: 14px;
	    line-height: 15px;
	}

	#promoGridBoxImageBBack {
		/*background-color: #f3f1f1;*/
		/*height: 150px;*/
		/*border: 1px solid black;*/
	}

	#promoGridBoxImageBBack img {
    	overflow: hidden;
	    /*height: 150px; 
		height: 80px;*/
		margin: 0px auto;
		display: block;
	}

	/* =Responsive Structure
	----------------------------------------------- */
	@media (max-width: 1280px) {

	 	#promoGridBoxesBBack {
			width: 100%;
		}
	}
	
	@media (max-width: 950px) {

	 	#promoGridBoxesBBack {
			/*width: 720px;*/
			/*margin-left: -20px; /* TS Only iframe fix */
			width: 100%;
		}
		/*
		.slick-prev {
			display: none !important;
		}
		.slick-next {
			display: none !important;
		}
		*/
	}

	@media (max-width: 700px) {

	 	#promoGridBoxesBBack {
			width: 515px !important;		
			width: 100%;
		}
		/*
		.slick-prev {
			display: none !important;
		}
		.slick-next {
			display: none !important;
		}
		*/
	}

	@media (max-width: 510px) {

		#promoGridBoxesBBack {
			width: 300px !important;
			margin: 0 auto;
		}
		/*
		.slick-prev {
			display: none !important;
		}
		.slick-next {
			display: none !important;
		}
		*/
	}
	
	@media (max-width: 414px) {
	
		#promoGridBoxesBBack {
			width: 100%; 
			margin: 0 auto;
		}
	}
	
	@media (max-width: 360px) {
		
		#promoGridBoxesBBack {
			width: 100%;
			margin: 0 auto;
		}
	}
	
		
	@media (max-width: 345px) {

		#promosBBack {
			width: 100%;
			margin-left: 5px;
		}
	}
	/*
	@media (max-width: 330px) {

		#promoGridBoxesBBack {
			margin-left: 0px;
		}
	}
	*/
	
	@media (max-width: 320px) {
	
		#promosBBack {
			/*margin-left: 30px;*/
			width: 100%;
			margin: 0 auto;
		}
	
	}